.content {
  border-right: 1px solid gainsboro;
  // margin-left: 100px;
  width: 350px;
  margin-left: 20px;
}
// 头像样式
.avatar {
  text-align: center;
  // margin-top: 20px;
  margin-right: 20px;
  // width: 300px;
  // background-color:pink;
  img {
    height: 100px;
    border-radius: 50px;
  }
}
.name {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}
.introduction {
  margin-top: 8px;
}
.website {
  margin-top: 8px;
  img {
    height: 16px;
    margin-left: 10px;
  }
  a {
    color: rgb(80, 75, 75);
  }
}

// 文章的样式
.articles {
  margin-top: 20px;
  margin-right: 20px;
  // width: 300px;
}
.list
{
  ul {
    list-style: none;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    li {
      color: rgb(236, 143, 159);
    }
    li:hover {
      cursor: pointer;
      color: #eb2f96;;
      background-color: #f4f5f5;
    }
  }
} 

// 标签的样式
.tags {
  margin-top: 20px;
  margin-right: 20px;  
}
.skills {
  margin-left: 20px;
  line-height: 40px;
  span {
    font-size: 13px;
  }
}
