.content {
  border-right: 1px solid gainsboro;

}
// 头像样式
.avatar {
  // margin-top: 20px;
  margin-right: 20px;
  // width: 300px;
  // background-color:pink;
}
.avatar img {
  height: 100px;
  border-radius: 50px;
}
.name {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}
.introduction {
  margin-top: 8px;
}
.website {
  margin-top: 8px;
}
.website img {
  height: 16px;
  margin-left: 10px;
}
.website a {
  color: rgb(80, 75, 75);
}

// 文章的样式
.articles {
  margin-top: 20px;
  margin-right: 20px;
  // width: 300px;
}
.list ul {
  list-style: none;
  text-align: left;
  line-height: 30px;
  font-size: 14px;
}
.list a {
  color: #eb2f96;
}

// 标签的样式
.tags {
  // width: 300px;
  margin-top: 20px;
  margin-right: 20px;
  
}
.skills {
  margin-left: 20px;
  line-height: 40px;
  span {
    font-size: 13px;
  }
}
